.grid {
    width: 79vw;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 4vmin 0 0 2vmin;
    width: 26vmin;
    height: 15vmin;
    background-color: white;
    border: 0px solid;
    border-radius: 1vmin;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardAbout {
    display: flex;
    flex-direction: column;

}

.quantity {
    color: #00C800;
    font-size: 3vmin;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: -1vmin;
}

.cardField {
    font-family: 'roboto', sans-serif;
    font-size: 2vmin;
    margin-top: -5vmin;
}

.cardIcon span{
    color: #00C800;
    font-size: 5vmin;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardButton {
    position: relative;
    display: flex;
    align-items: center;
}

.btn{
    width: 26vmin;
    border: 1px solid #00C800;
    background-color: #00C800;
    border-radius: 0 0 1vmin 1vmin;
    height: 3vmin;
    font-family: 'roboto', sans-serif;
    color: white; 
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn p{
    font-size: 1.5vmin;
    margin: 1vmin 0;
    margin-left: 7vmin;
    display: flex;
    align-items: center;
}

.cardButton span {
    position: absolute;
    top: 0.8vmin;
    right: 8vmin;
    transform: rotateY(-50%);
    background-color: white;
    color: #00C800;
    border: #00C800;
    border-radius: 50%;
    font-size: 1.5vmin;
}


/* Media Query */



@media screen and (max-width: 375px) {
    .grid {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .grid {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .grid {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

}

@media screen and (min-width: 1441px) {
    
}