.ProfileInfo {
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    background-color: #FAFBFC;
}

.profileLinks {
    background-color: white;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15vw;
    height: 30.5vh;
    border: 1px solid black;
    border-radius: 1vmin;
    box-shadow: 1px 1px 4px black;
}

.profileLinks div {
    font-family: 'roboto', sans-serif;
    font-size: 2vh;
    color: #737791;
    padding-left: 2vw;
    height: 6vh;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.profileLinks div:hover {
    border-left: 3px solid #00C800;
    color: #00C800;
    cursor: pointer;
}

.AD {
    border-radius: 1vmin 0 0 0;
}

.EC {
    border-radius: 0 0 1vmin 1vmin;
}

.UserRegistration {
    display: flex;
    flex-direction: column;
    width: 57vw;
    margin: 0 3vw;
    background-color: #FAFBFC;
}

/* Media Query */

@media screen and (max-width: 720px) {
    .ProfileInfo{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .profileLinks {
        display: flex;
        flex-direction: row;
        width: 100vw;
        margin-left: 0;
        height: 6vh;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }

    .profileLinks div:hover {
        border-left: none;
        border-bottom: 3px solid #00C800;
    }

    .profileLinks div {
        font-size: 1vw;
        justify-content: center;
        padding-left: 0;
    }

    .UserRegistration {
        width: 100vw;
        margin-top: 4vh;
        margin-left: 0;
        border: none;
    }

    .profileLinks div {
        border-radius: 0 0 1vmin 1vmin;
    }
}