.burger {
  background: #fafbfc;
  border: 0.5vh solid #00C800;
  font-size: 4vh;
  color: #00C800;
  cursor: pointer;
  margin: 2vh 2vw;
  display: none;
}

.burger_menu {
    width: 20vw;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #171B2A;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh 2vw;
    border-radius: 5px;
    margin: 1vh 5%;
    cursor: pointer;
}

.submenu {
    font-size: 1vh;
    padding: 1vh 4vw; /* Increased left padding for indentation */
  }

.submenu a{
    margin-left: 0.9vw;
}

.pages a {
    color: #737791;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 2vh;
    font-weight: 600;
}

.pages:hover {
    box-shadow: 1px 2px 5px black;
    background-color: #00C800;
    border: 1px solid #00C800;
    color: white;
    cursor: pointer;
}

.pages a:hover {
    color: white;
}

.pages span {
    margin-right: 2vw;
    font-size: 3vh;
    color: #737791;
    margin-left: 2vw;
}

.pages span:hover {
    color: white;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0 3vh 7vw;
    height: 8vh;
    width: 3vw;
}

.signout {
    background-color: #171B2A;
    width: 17vw;
    height: 5vh;
    color: white;
    font-family: 'roboto', sans-serif;
    border: 0px solid;
    border-radius: 10px;
    margin-left: 1vw;
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 10vh;
}

.sign span {
    color: white;
    position: absolute;
    left: 2vw;
    transform: rotateY(-50%);
}

@media screen and (max-width: 720px) {
    .menu {
        display: none;
    }
    .burger {
        display: block;
        position: sticky;
    }
}