.burger {
  background: #fafbfc;
  border: 0.5vh solid #00C800;
  font-size: 4vh;
  color: #00C800;
  cursor: pointer;
  margin: 2vh 2vw;
  display: none;
}

.burgerMenu {
    width: 20vw;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #171B2A;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh 2vw;
    border-radius: 1vmin;
    margin: 0vh 5%;
    cursor: pointer;
    color: #737791;
    fill: #737791;
}

.submenu {
    font-size: 1vh;
    padding: 1vh 4vw; /* Increased left padding for indentation */
  }

.submenu a {
    margin-left: 0.9vw;
    text-decoration: none;
}

.pages a {
    font-family: 'roboto', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    text-decoration: none;
    color: #737791;
}

.pages:hover {
    box-shadow: 1px 2px 5px black;
    background-color: #00C800;
    border: 1px solid #00C800;
    color: white;
    cursor: pointer;
    fill: white;
}

.pages:hover a {
    color: white;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    margin: 7vh 0;
    height: 5vmax;
    width: 7vmax;
}

.signout {
    background-color: #171B2A;
    width: 16vw;
    height: 5vh;
    color: white;
    font-family: 'roboto', sans-serif;
    border: 1px solid #171B2A;
    border-radius: 1vmin;
    margin: 0 1vw;
    font-size: 2vmin;
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 10vh;
}

.sign span {
    color: white;
    position: absolute;
    font-size: 3vmin;
    left: 2vw;
    transform: rotateY(-50%);
}

@media screen and (max-width: 720px) {
    .menu {
        display: none;
    }
    .burger {
        display: block;
        position: sticky;
    }
}