.menu {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #171B2A;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
    padding: 1.2vmin 4vmin;
    border-radius: 1vmin;
    margin: 0vh 5%;
    cursor: pointer;
    color: #737791;
    fill: #737791;
}

.submenu {
    font-size: 0.6vw;
    padding: 1vmin 8vmin; /* Increased left padding for indentation */
  }

.submenu a {
    margin-left: 0.9vw;
    text-decoration: none;
}

.pages a {
    font-family: 'roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    text-decoration: none;
    color: #737791;
}

.pages:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    background-color: #00C800;
    color: white;
    cursor: pointer;
    fill: white;
}

.pages:hover a {
    color: white;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    margin: 7vh 0;
    height: 5vmax;
    width: 7vmax;
}

.signout {
    background-color: #171B2A;
    width: 32vmin;
    height: 5vmin;
    color: white;
    font-family: 'roboto', sans-serif;
    border: 1px solid #171B2A;
    border-radius: 1vmin;
    margin: 0 1vw;
    font-size: 2vmin;
}

.signout:hover {
    cursor: pointer;
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 10vh;
}

.sign span {
    color: white;
    position: absolute;
    font-size: 3vmin;
    left: 2vw;
    transform: rotateY(-50%);
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }    
}