.main {
    display: flex;
    flex-direction: row;
}

.mainImage {
    height: 100vh;
    width: 50vw;
}

@media screen and (max-width: 720px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainImage {
        width: 100vw;
    }
}