.userPass {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    margin-bottom: 2vh;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 3vh;
    width: 100%;
}

.userPassHeading h3 {
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 3vmin;
}

.userPassHeading p {
    color: #737791;
    font-size: 1.5vmin;
    margin-top: -2vh;
}

.userPassInputs {
    display: flex;
    flex-direction: column;
}

.userPassAbout {
    display: flex;
    flex-direction: row;
    font-family: 'roboto' sans-serif;
    align-items: center;
    margin-top: 1vh;
}

.userPassAbout h4 {
    font-size: 2vmin;
}

.userPassAbout p {
    color: #737791;
    font-size: 1.5vmin;
    margin-left: 0.5vw;
}

.userPassInputs input {
    width: 96%;
    padding: 0.5vmin 1vw;
    background-color: #FAFBFC;
    height: 4vh;
    border: 0.3vmin solid #00C800;
    border-radius: 0.3vmin;
    margin-top: -1vh;
    font-size: 2vmin;
}

.userPassButton {
    width: 20vmin;
    height: 6vmin;
    color: #00C800;
    border: 0.3vmin solid #00C800;
    margin-top: 3vh;
    background-color: #FAFBFC;
    border-radius: 0.3vmin;
    font-size: 1.5vmin;
}

.userPassButton:hover {
    background-color: #00C800;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .userPassInputs input {
        padding: 0.1vmin 1vw;
    }

    .userPassHeading p {
        margin-top: 0.1vmin;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .userPassInputs input {
        padding: 0.1vmin 1vw;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .userPassInputs input {
        border: 0.2vmin solid #00C800;
    }

    .userPassButton {
        border: 0.2vmin solid #00C800;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .userPassInputs input {
        border: 0.2vmin solid #00C800;
    }

    .userPassButton {
        border: 0.2vmin solid #00C800;
    }
}

@media screen and (min-width: 1441px) {
    .userPassInputs input {
        border: 0.2vmin solid #00C800;
    }
    .userPassButton {
        border: 0.2vmin solid #00C800;
    }
}