.userPass {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: white;
    border: 1px solid;
    box-shadow: 1px 1px 6px black;
    border-radius: 3px;
    padding: 3vh;
}

.userPassHeading h3 {
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 3vh;
}

.userPassHeading p {
    color: #737791;
    font-size: 1.5vh;
    margin-top: -2vh;
}

.userPassInputs {
    display: flex;
    flex-direction: column;
}

.userPassAbout {
    display: flex;
    flex-direction: row;
    font-family: 'roboto' sans-serif;
    align-items: center;
    margin-top: 1vh;
}

.userPassAbout p {
    color: #737791;
    font-size: 1.5vh;
    margin-left: 0.5vw;
}

.userPassInputs input {
    width: 96%;
    padding: 2vh 1vw;
    background-color: #FAFBFC;
    border: 0.4vh solid #00C800;
    border-radius: 3px;
    margin-top: -1vh;
}

.userPassButton {
    width: 12vw;
    height: 6vh;
    color: #00C800;
    border: 0.4vh solid #00C800;
    margin-top: 3vh;
    background-color: #FAFBFC;
    border-radius: 3px;
}

.userPassButton:hover {
    background-color: #00C800;
    color: white;
    cursor: pointer;
}