.userPass {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
    border: 1px solid;
    box-shadow: 1px 1px 6px black;
    border-radius: 3px;
    padding: 30px;
}

.userPassHeading h3{
    letter-spacing: 1px;
}

.userPassHeading p {
    color: #737791;
    font-size: 11px;
    margin-top: 5px;
}

.userPassInputs {
    display: flex;
    flex-direction: column;
}

.userPassAbout {
    display: flex;
    flex-direction: row;
    font-family: 'roboto' sans-serif;
    align-items: center;
    margin-top: 30px;
}

.userPassAbout p{
    color: #737791;
    font-size: 11px;
    margin-left: 5px;
}

.userPassInputs input {
    border: 2px solid #00C800;
    width: 97%;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
    background-color: #FAFBFC;
}

.userPassButton {
    width: 150px;
    height: 40px;
    color: #00C800;
    border: 2px solid #00C800;
    margin-top: 30px;
    background-color: #FAFBFC;
    border-radius: 3px;
}

.userPassButton:hover {
    background-color: #00C800;
    color: white;
    cursor: pointer;
}