.userEmbeddedCode {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: white;
    border: 1px solid;
    box-shadow: 1px 1px 6px black;
    border-radius: 1vmin;
    padding: 3vh;
    margin-bottom: 15vh;
}

.userEmbeddedCodeHeading {
    display: flex; 
    flex-direction: column;
}

.userEmbeddedCodeHeading h3 {
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 3vh;
}

.userEmbeddedCodeHeading p {
    color: #737791;
    font-size: 1.5vh;
    margin-top: -2vh;
}

.userEmbeddedCodeButton {
    width: 12vw;
    height: 6vh;
    color: #00C800;
    border: 0.3vh solid #00C800;
    margin-top: 3vh;
    background-color: #FAFBFC;
    border-radius: 1vmin;
    font-size: 2vmin;
}

.userEmbeddedCodeButton:hover {
    background-color: #00C800;
    color: white;
    cursor: pointer;
}