
/* Custom styles that aren't directly provided by Bootstrap */

.dashlogo {
  font-family: Helvetica;
  color: #171b2a;
  font-size: 4vmin;
  font-weight: 600;
  margin-left: 4vmin;
}

.inputfield span {
  position: absolute;
  color: #00c800;
  top: 1vmin;
  left: 1vw;
  transform: rotateY(-50%);
  font-size: 3vmin;
}

.notification {
  padding: 1vmin 0.7vw;
  background-color: #fafbfc;
  border: 0px solid;
  color: #00c800;
  border-radius: 1vmin;
  display: flex;
  align-items: center;
  margin-right: 3vw;
}

.notification span {
  font-size: 2vmin;
}

.userImage img {
  border-radius: 1vmin;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1vmin;
  font-family: "roboto", sans-serif;
}

.userName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vmin;
}

.userName p {
  font-size: 2vmin;
  font-weight: 600;
}

.userName span {
  font-size: 1.5vmin;
  font-weight: bold;
  margin: -1vmin 0 0 1vh;
  cursor: pointer;
}

.userInfo p {
  margin-top: -0.5vmin;
  font-size: 1vh;
}

.linkColor {
  color: white;
}

/* Adjustments for responsiveness */
@media screen and (max-width: 375px) {
  .dashlogo {
    margin-left: 9vw;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .dashlogo {
    margin-left: 9vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .dashlogo {
    margin-left: 9vw;
  }
}

/* For larger screens, retain original styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 1025px) and (max-width: 1440px) {}
@media screen and (min-width: 1441px) {}
