.userBackgroundImage {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 3vh;
}

.userBackgroundImageHeading {
    display: flex;
    flex-direction: column;
}

.userBackgroundImageHeading h3{
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 3vh;
}

.userBackgroundImageHeading p {
    color: #737791;
    font-size: 1.5vh;
    margin-top: -2vh;
}

.userBackgroundImageFiles {
    width: 100%;
    border: 0.3vh solid #00C800;
    margin-top: 2vh;
    border-radius: 1vmin;
    padding: 0.5vh 0;
    background-color: #FAFBFC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userBackgroundImageFiles p{
    font-size: 2vh;
    color: #737791;
}

.userBackgroundImageFiles p a {
    font-size: 2vh;
    color: #00C800;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
   
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

}

@media screen and (min-width: 1441px) {
    
}