.userBackgroundImage {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: white;
    border: 1px solid;
    box-shadow: 1px 1px 6px black;
    border-radius: 3px;
    padding: 3vh;
}

.userBackgroundImageHeading {
    display: flex;
    flex-direction: column;
}

.userBackgroundImageHeading h3{
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 3vh;
}

.userBackgroundImageHeading p {
    color: #737791;
    font-size: 1.5vh;
    margin-top: -2vh;
}

.userBackgroundImageFiles {
    width: 100%;
    border: 0.4vh solid #00C800;
    margin-top: 2vh;
    border-radius: 3px;
    padding: 1vh 0;
    background-color: #FAFBFC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userBackgroundImageFiles p{
    font-size: 2vh;
    color: #737791;
}

.userBackgroundImageFiles p a {
    font-size: 2vh;
    color: #00C800;
}