
.Login {
    margin: 2rem;
    padding: 2rem;
    background-color: #171B2A;
    width: 80%;
    max-width: 600px;
    border: 1px solid #171B2A;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'roboto', sans-serif;
    padding: 2rem;
}

.Welcome {
    font-family: Helvetica;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
}

.loginText {
    margin-top: -1rem;
    letter-spacing: 1px;
    color: #00C800;
    font-size: 1.5rem;
    font-weight: 600;
}

.inputs {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.inputs p {
    font-size: 1rem;
    margin-top: 1rem;
}

.inputs input {
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    background-color: #171B2A;
    border: none;
    border-bottom: 3px solid #00C800;
    margin-top: 0.5rem;
}

.Remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle p {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.forgot {
    margin-left: 1rem;
}

.forgot a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.button {
    height: 3rem;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Helvetica;
    font-size: 1.25rem;
    color: #00C800;
    font-weight: 600;
    margin-top: 1.5rem;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: #00C800;
    color: white;
}

/* Small screens (mobile phones) */
@media screen and (max-width: 480px) {
    .Login {
        width: 90%;
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .Login {
        width: 85%;
    }
}

/* Large screens (desktops, large tablets) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .Login {
        width: 80%;
    }
}

/* Extra large screens (large desktops) */
@media screen and (min-width: 1201px) {
    .Login {
        width: 70%;
    }
}
