

.Login {
    margin: 10vh 12vh;
    background-color: #171B2A;
    width: 50vw;
    border: 1px solid #171B2A;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'roboto', sans-serif;
}

.Welcome {
    font-family: Helvetica;
    letter-spacing: 1px;
    font-size: 5vh;
    font-weight: 600;
    margin-top: 0;
}

.loginText {
    margin-top: -3vh;
    letter-spacing: 1px;
    color: #00C800;
    font-size: 4vh;
    font-weight: 600;
}

.inputs {
    position: relative;
}

.inputs p {
    font-size: 3vh;
    margin-top: 2vh;
}

.inputs input {
    width: 26vw;
    height: 2vh;
    padding: 1vh 0;
    color: white;
    font-size: 2vh;
    background-color: #171B2A;
    border: 0px solid;
    border-bottom: 0.3vh solid #00C800;
}

.inputs span {
    position: absolute;
    font-size: 2vh;
    right: 0;
    top: 50%;
    transform: rotateY(-50%);
}

/* Visibilty on is Hidden by Default */

.von {
    visibility: hidden;
    color: #00C800;
    position: absolute;

}

.check {
    visibility: hidden;
    color: #00C800;
}

.Remember {
    display: flex;
    align-items: center;
    margin-top: 3vh;
}

.toggle {
    display: flex;
    align-items: center;
    margin: 0 7vh;
}

.toggle p {
    font-size: 2vh;
}

.toggle span {
    font-size: 5vh;
    padding-right: 5px;
}

.forgot {
    margin: 0 7vh;
}

.forgot a {
    color: white;
    font-size: 2vh;
}

.button {
    height: 6vh;
    width: 26vw;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Helvetica;
    font-size: 2.5vh;
    color: #00C800;
    font-weight: 600;
    margin-top: 7vh;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 720px) {
    .Welcome {
        margin-top: 5vh;
    }

    .inputs input {
        margin-top: -7vh;
        width: 40vw;
    }

    .button {
        width: 40vw;
    }
}