.app_container {
    display: flex;
    flex-direction: row;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; /*Take up the remaining vertical space */
}

.side-menu {
    width: 20vw; /* or whatever width you prefer for the side menu */
    height: 100%;
    /* Add additional styles for the side menu (e.g., background color) */
}

.main_content {
    flex: 1; /* This will make the main content take up the remaining space beside the side menu */
    overflow-y: auto; /* Enable scrolling if the content exceeds the viewport height */
}


@media screen and (max-width: 768px) {
    .app_container {
        display: flex;
        flex-direction: column;
    }
}